<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Learn Vue.js</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="app">
        <h1> {{ title }} </h1>

        <ul>
            <li v-for="todo in todos" :key="todo.id">
                {{ todo.title }}
            </li>
        </ul>

        <p> Users </p>
        <ul>
            <li v-for="(role, name) in users">
                {{ name }}: {{ role }}
            </li>   
        </ul>
    </div>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- SCRIPTS -->
    <script src="script.js"></script>
</body>
</html>